#editor.semantic-view div {
    margin: 0.5em;
    padding: 0.5em;
    position: relative;
    line-height: 140%;
    padding-right: 5em;
}

#editor.semantic-view *:after {
    position: absolute;
    font-size: 8pt;
    padding: 3px 0 0 0;
    margin:0;
    top: 0.5rem;
    right: 1.0rem;
    text-align: right;
    font-family: sans-serif;
    color: #aaa;
    font-variant: normal;
}

#editor.semantic-view div.header {
    font-size: 150%;
    background-color: #fff0f0;
}
#editor.semantic-view div.body {
    color: #444;
    border: 1px solid #eee;
    border-width: 0px 0px 1px 0px;
}

#editor.semantic-view .block-code {
    color: #888800;
    background-color: #fffff0;
    font-family: monospace;
    border: 1px solid #dda;
    padding: 0.5em;
    white-space: pre;
}

#editor.semantic-view .block-quote {
    background-color: #eef;
    color: black;
    font-family: serif;
    font-style: italic;
    padding: 1em;
}
#editor.semantic-view .header:after { content: "header"; }
#editor.semantic-view .body:after { content: "body"; }
#editor.semantic-view .block-code:after { content: "code block"; }
#editor.semantic-view .block-quote:after { content: "block quote"; }

/* inline styles */
#editor.semantic-view .bold {
    color: red;
    font-weight: bold;
}
#editor.semantic-view .italic {
    color: green;
    font-weight: normal;
    font-style: italic;
}
#editor.semantic-view .inline-code {
    font-weight: normal;
    color: #cccc00;
    font-family: monospace;
}

